body {
    height: 350vh;
    width: 100vw;
    background-color: #fff6e2;
    position: relative; 
}

.body::-webkit-scrollbar {
    display: none;
  }

.bike_1 {
    background-image: url("../photo_flashbacks/bike_1.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain; 
    position: fixed; 
    height: 100vh; 
    width: 100vw; 
    z-index: 0;
    top: 0; 
    left: 0; 
    z-index: 1;  
    opacity: 0;
    transition: opacity 1.5s ease-in-out;  
}

.bike_2 {
    background-image: url("../photo_flashbacks/bike_2.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain; 
    position: fixed; 
    height: 100vh; 
    width: 100vw; 
    z-index: 0;
    top: 0; 
    left: 0; 
    z-index: 1;  
    opacity: 0; 
    transition: opacity 1.5s ease-in-out; 
}

.backpack {
    background-image: url("../photo_flashbacks/backpack.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain; 
    position: fixed; 
    height: 100vh; 
    width: 100vw; 
    z-index: 0;
    top: 0; 
    left: 0; 
    z-index: 1;  
    opacity: 0; 
    transition: opacity 1.5s ease-in-out; 
}

.latte_1 {
    background-image: url("../photo_flashbacks/latte_1.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain; 
    position: fixed; 
    height: 100vh; 
    width: 100vw; 
    z-index: 0;
    top: 0; 
    left: 0; 
    z-index: 1;  
    opacity: 0; 
    transition: opacity 1.5s ease-in-out; 
}

.latte_2 {
    background-image: url("../photo_flashbacks/latte_2.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain; 
    position: fixed; 
    height: 100vh; 
    width: 100vw; 
    z-index: 0;
    top: 0; 
    left: 0; 
    z-index: 1;  
    opacity: 0; 
    transition: opacity 1.5s ease-in-out; 
}

.helmet {
    background-image: url("../photo_flashbacks/helmet.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain; 
    position: fixed;
    height: 100vh; 
    width: 100vw; 
    z-index: 0;
    top: 0; 
    left: 0; 
    z-index: 1;  
    opacity: 0; 
    transition: opacity 1.5s ease-in-out; 
}

.burger {
    background-image: url("../photo_flashbacks/burger.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain; 
    position: fixed; 
    height: 100vh; 
    width: 100vw; 
    z-index: 0;
    top: 0; 
    left: 0; 
    z-index: 1;  
    opacity: 0; 
    transition: opacity 1.5s ease-in-out; 
}

.fade-in {
    opacity: 1;
}

.flashback-bg {
    background-image: url("../photos/flashback-bg.png"); 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain; 
    height: 100%; 
    width: 100%; 
    z-index: 0;
    position: fixed; 
    top: 0; 
    left: 0; 
}

.waypoint {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 400;
    font-style: normal;
    text-align: center;
    height: calc(100% / 10); /* dividing the body height by the number of waypoints */
    bottom: calc((95% / 10) * (n - 1)); /* adjusting the bottom position based on the waypoint number */
    z-index: 1;
    opacity: 0;
}

#waypoint_1 {
    bottom: calc(95% - (100% / 10) * 1); 
}

#waypoint_2 {
    bottom: calc(85% - (100% / 10) * 2); 
}

#waypoint_3 {
    bottom: calc(75% - (100% / 10) * 3); 
}

#waypoint_4 {
    bottom: calc(65% - (100% / 10) * 4); 
}

#waypoint_5 {
    bottom: calc(55% - (100% / 10) * 5); 
}

#waypoint_6 {
    bottom: calc(45% - (100% / 10) * 6); 
}

#waypoint_7 {
    bottom: calc(35% - (100% / 10) * 7);
}

#waypoint_8 {
    bottom: calc(25% - (100% / 10) * 8);
}
